<main class="main">
  <div class="content">
    <h1>Hello Wordle for Angular</h1>
    <div class="row">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
    <div>Task 1: Fetch word from API: https://65f3284975b329fd7ab18320--lustrous-pudding-ec2574.netlify.app/api/random-words
    </div>
    <div>Task 2: Display boxes</div>
    <div>Task 3: Guess word</div>
  </div>
</main>

<router-outlet />
